{% extends 'layout.html' %}

{% block body %}

<style>
	.landing {
		height: 90vh;
	}

	.svg-1 {
		height: 70vh;
		padding-left: 10rem;
		padding-top: 5rem;
		background-color: #f0fdf4;
		margin: 0;
	}

	.svg-2 {
		height: 70vh;
		padding-left: 10rem;
		padding-top: 5rem;
		padding-right: 5rem;
		margin: 0;
	}

	.row {
		margin: 0;
	}
</style>

<div class="home-body">
	<div class="contents">
		<div class="landing">
			<div class="text-center">
				<img src="../static/images/Country side-bro.svg" style="height:60vh;" />
				<h1 class="font-weight-bold">Agri - Portal</h1>
				<br>
				<h2 class="font-weight-bold">The one stop solution for every farmer's needs</h2>
			</div>
		</div>
		<div class="svg-1">
			<div class="row">
				<div class="col-sm">
					<h4 class="mx-auto my-4 font-weight-bold"><strong> Here are some questions we'll answer</strong>
					</h4>
					<p class="text-li mx-auto mt-2">
						1. What crop to plant here? <br>
						2. What fertilizer to use? <br>
						3. Which disease do your crop have?<br>
						4. How to cure the disease?
					</p>
				</div>
				<div class="col-sm">
					<img src="../static/images/Farmer-amico.svg" height="350rem" alt="farmersvg">
				</div>
			</div>
		</div>
		<div class="svg-2">
			<div class="row">
				<div class="col-sm">
					<img src="../static/images/Server-pana.svg" height="350rem" alt="farmersvg">
				</div>
				<div class="col-sm">
					<h4 class="mx-auto my-4 font-weight-bold"><strong> About us</strong>
					</h4>
					<p class="text-li mx-auto mt-2">
						We use state-of-the-art machine learning and deep learning technologies to help you guide through the entire farming process. Make informed decisions to understand the demographics of your area, understand the factors that affect your crop and keep them healthy for a super awesome successful yield.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>

</html>

{% endblock %}