{% extends 'layout.html' %} {% block body %}

<style>
  .fert-container {
    background-color: #f0fdf4;
  }

  .crop-img {
    width: 35vw;
    margin: 2rem auto;
  }

  .btn {
    background-color: hsl(167, 94%, 13%);
    border: #024033;
  }

  .col-sm {
    margin: 0;
  }

  .row {
    margin: 0;
  }

  .input {
    background-color: #f0fdf4;
    min-height: 90vh;
    padding-left: 1rem;
    padding-right: 5rem;
    padding-top: 3rem;
    margin: 0;
  }
</style>
<!--Form Section-->

<div class="row fert-container">
  <div class="col-7 text-center">
    <img src="../static/images/Gardening-pana.svg" class="crop-img" />
  </div>
  <div class="col-5 input">
    
    <div class="row">
      <div class="col-sm">
        <h4>
          <b>Get informed advice on fertilizer based on the following soil parameters.</b>
        </h4>
      </div>
    </div>
    <br>
    <div>
      <form method="POST" action="{{ url_for('fert_recommend') }}">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
              <input type="number" class="form-control" id="Nitrogen" name="nitrogen"
                placeholder="Enter the value" style="font-weight: bold" required />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous</b></label>
              <input type="number" class="form-control" id="Phosphorous" name="phosphorous"
                placeholder="Enter the value" style="font-weight: bold" required />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
              <input type="number" class="form-control" id="Pottasium" name="pottasium"
                placeholder="Enter the value" style="font-weight: bold" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="crop" style="font-size: 17px"><b>Crop you want to grow</b></label>
              <select name="cropname" class="form-control" id="crop" placeholder="Select a crop"
                style="font-weight: bold" required>
                <option selected>Select crop</option>
                <option>rice</option>
                <option>maize</option>
                <option>chickpea</option>
                <option>kidneybeans</option>
                <option>pigeonpeas</option>
                <option>mothbeans</option>
                <option>mungbean</option>
                <option>blackgram</option>
                <option>lentil</option>
                <option>pomegranate</option>
                <option>banana</option>
                <option>mango</option>
                <option>grapes</option>
                <option>watermelon</option>
                <option>muskmelon</option>
                <option>apple</option>
                <option>orange</option>
                <option>papaya</option>
                <option>coconut</option>
                <option>cotton</option>
                <option>jute</option>
                <option>coffee</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-lg btn-success btn-block">
                Predict
              </button>
            </div>
          </div>
        </div>




      </form>
    </div>
  </div>
</div>

{% endblock %}